.k
*-kompiled
*-kompiled-symbolic
*.kore
*.pdf
*.swp
*.iml
.metadata
.recommenders
.cache
.idea
.classpath
.settings/
*~
junit-reports
k-distribution/samples/test/
release/
target/

/editor-support/k-idea-plugin-src/src/ro/uaic/fmse/kplugin/KLexer.java
/editor-support/k-idea-plugin-src/gen
/editor-support/k-idea-plugin-src/out
