.kompile*
.krun*
.kast*
.ktest*
*-kompiled
*.kore
*.pdf
*.swp
*.iml
.metadata
.recommenders
.cache
.idea
*.iml
.project
.classpath
.settings/
java-backend/.project
k-distribution/.project
*~
junit-reports
k-distribution/samples/test/
target/
